BasedOnStyle: LLVM

ColumnLimit: 120

BreakBeforeBraces: Stroustrup
BreakBeforeBinaryOperators: None

PointerAlignment: Middle
SpacesBeforeTrailingComments: 2
BreakStringLiterals: true
BreakConstructorInitializers: AfterColon
UseTab: Never
IndentWidth: 4
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right
AlignTrailingComments: true
NamespaceIndentation: All
CompactNamespaces: true

SpacesInConditionalStatement : true
SpacesInAngles: true
SpacesInParentheses: true

ConstructorInitializerAllOnOneLineOrOnePerLine: true